body {
  color: #535353;
  font-family: "Titillium Web", sans-serif;
  font-size: 16px;
  font-weight: 400; }

a {
  color: #2d81b6; }
  a:hover {
    color: #6eb1db;
    text-decoration: none; }

.navbar-reverse {
  color: #ededed;
  background: #426b85; }
  .navbar-reverse a {
    color: #ededed; }

.page-body {
  padding: 0 0 40px 0; }

.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: #5386a7; }

.page-title {
  font-weight: 700; }

.post-title {
  font-weight: 600; }

.demi-word {
  display: inline-block;
  line-height: 1;
  margin: 0 2px;
  font-size: 15px;
  border-bottom: 1px solid #868686; }

.post-tag {
  display: inline-block;
  font-size: 12px;
  padding: 2px 6px;
  margin: 0 2px;
  border-radius: 10px;
  background: #557990;
  color: #fff; }
  .post-tag:hover {
    background: #8eabbd; }

.preview-body {
  margin-top: 16px; }

.divider {
  border-color: #a0a0a0; }

.article-preview:last-child hr.divider {
  opacity: 0; }

.page-footer {
  padding: 20px 0 15px 0;
  color: #ededed;
  background: #426b85; }
  .page-footer p {
    font-weight: 200; }
  .page-footer a {
    color: #c0ddef; }
