// colors
$footerColor: rgb(66, 107, 133);
$headerColor: rgb(66, 107, 133);

$reverseText: rgb(237, 237, 237);
$primaryText: rgb(83, 83, 83);
$link: rgb(45, 129, 182);
$tag: rgb(85, 121, 144);
$footerLink: lighten($link, 40%);

// fonts
$sansSerif: 'Titillium Web', sans-serif;


body {
  color: $primaryText;
  font-family: $sansSerif;
  font-size: 16px;
  font-weight: 400;
}

a {
  color: $link;
  &:hover {
    color: lighten($link, 20%);
    text-decoration: none;
  }
}

.navbar-reverse {
  color: $reverseText;
  background: $headerColor;
  a {
    color: $reverseText;
  }
}

.page-body {
  padding: 0 0 40px 0;
}

.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: lighten($headerColor, 10%);
}

.featured-container {
  height: 250px;
  width: 100%;
  color: #fff;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  text-align: center;
  .well {
    padding: 10px;
    background: transparent;
    border: none;
  }
  h1 {
    font-size: 22px;
    font-weight: 600;
  }
  &:hover {
    opacity: 0.8;
  }
  .post-tag {
    background: transparent;
    border: 2px solid #fff;
    &:hover {
      background: transparent;
    }
  }
}

.gradient-overlay {
  background: -webkit-linear-gradient(rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%);
  background: -o-linear-gradient(rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%);
  background: linear-gradient(rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */ /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}

.post-title {
  font-weight: 600;
}

.demi-word {
  display: inline-block;
  line-height: 1;
  margin: 0 2px;
  font-size: 15px;
  border-bottom: 1px solid lighten($primaryText, 20%);
}

.post-tag {
  display: inline-block;
  font-size: 12px;
  padding: 2px 6px;
  margin: 0 2px;
  border-radius: 10px;
  background: $tag;
  color: #fff;
  &:hover {
    background: lighten($tag, 20%);
  }
}

.article-body {
  margin-top: 16px;
}

.divider {
  border-color: lighten($primaryText, 30%);
}

.article-preview:last-child hr.divider {
  opacity: 0;
}

.page-footer {
  padding: 20px 0 15px 0;
  color: $reverseText;
  background: $footerColor;
  p {
    font-weight: 200;
  }
  a {
    color: $footerLink;
  }
}
