{{ partial "head.html" . }}
{{ partial "nav.html" . }}
<div class="container page-body">
  <div class="row">
    <div class="col-md-12">
      <h1 class="page-title">{{ .Title }}</h1>
      <span class="post-date h4">Published {{ .Date.Format "Jan 2, 2006" }}</span>
      <span class="demi-word">in</span>
      {{ range .Params.categories }}
        <a href="/categories/{{ . | urlize }}"><span class="h4">{{ . }}</span></a>
      {{ end }}
      <span class="demi-word">tags:</span>
      {{ range .Params.tags }}
        <a href="/tags/{{ . | urlize }}"><span class="post-tag">{{ . }}</span></a>
      {{ end }}
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 article-body">
      {{ .Content }}
      
      {{ if .Prev }}
        <div class="pull-left">
          <a href="{{.Prev.Permalink}}"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> {{.Prev.Title}}</a>
        </div>
      {{ end }}
      {{ if .Next }}
        <div class="pull-right">
          <a class="text-right" href="{{.Next.Permalink}}">{{.Next.Title}} <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>
        </div>
      {{ end }}
    </div>
    <div class="col-md-4">
      <aside>
        {{ partial "blog-sidebar.html" . }}
      </aside>
    </div>
  </div>
</div>
{{ partial "footer.html" . }}
