{{ partial "head.html" . }}
{{ partial "nav.html" . }}
<div class="container page-body">
  <div class="row">
    <div class="col-md-12">
      <h1 class="page-title">{{ .Title }}</h1>
      <span class="post-date h4">Published {{ .Date.Format "Jan 2, 2006" }}</span>
      <span class="demi-word">in</span>
      {{ range .Params.categories }}
        <a href="/categories/{{ . | urlize }}"><span class="h4">{{ . }}</span></a>
      {{ end }}
      <span class="demi-word">tags:</span>
      {{ range .Params.tags }}
        <a href="/tags/{{ . | urlize }}"><span class="post-tag">{{ . }}</span></a>
      {{ end }}
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 article-body">
      {{ .Content }}
    </div>
    <div class="col-md-4">
      <aside>
        {{ partial "blog-sidebar.html" . }}
      </aside>
    </div>
  </div>
</div>
{{ partial "footer.html" . }}
