    <footer class="footer page-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <p>
              <ul class="list-inline">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/blog">Blog</a></li>
                <li><a href="/top-10">Top 10</a></li>
              </ul>
            </p>
          </div>
          <div class="col-md-4">
            <p>Et tale assueverit quo. Blandit iudicabit ius at. An meliore vivendo assueverit pro, at dicant pericula euripidis usu.</p>
          </div>
        </div>
      </div>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="{{ .Site.BaseURL }}js/bootstrap.js"></script>
  </body>
</html>
